<p id="notice"><%= notice %></p>

<h1>Lists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Table</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= list.table.id %></td>
        <td><%= link_to 'Show Table', [@table] %></td>
        <td><%= link_to 'Edit List', edit_table_list_path(@table, list) %></td>
        <td><%= link_to 'Destroy List', [@table, list], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_table_list_path(@table) %>
