<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Table:</strong>
  <%= @list.table %>
</p>

<h2>Cards</h2>
<% for card in @list.cards %>
    <ul>
      <li><%= card.title %></li>
  </ul>
<% end %>

<%= link_to 'Edit', edit_table_list_path(@table, @list) %> |
<%= link_to 'Add card', table_list_cards_path(@table, @list) %> |
<%= link_to 'Back', table_lists_path(@table) %>
