<p id="notice"><%= notice %></p>

<p>
  <strong>Link:</strong>
  <%= @table.link %>
</p>

<h2>Lists</h2>
<table>
  <tr>
    <% for list in @table.lists %>
        <td>
          <%= list.name %>
      </td>
    <% end %>
  </tr>
</table>

<%= link_to 'New List', new_table_list_path(@table) %> |
<%= link_to 'Back', tables_path %>
