<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>List:</strong>
  <%= @card.list %>
</p>

<%= link_to 'Edit', edit_table_list_card_path(@list.table, @list, @card) %> |

<%= link_to 'Back', table_list_cards_path(@list.table, @list) %>
